<<<<<<< HEAD
<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
     </p>
=======
<h1>Welcome to One Month Rails!</h1>
	<p> 
		You've found the home page for the <%= link_to "One Month Rails", "http://onemonthrails.com" %> application.
	</p>
	<p>
		<%= link_to "Sign up Now!", "#" %>
	</p>
>>>>>>> 1b43fdf3cfaf1d98b92f6b2057aced815a96cde6

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>
