<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
<<<<<<< HEAD
             <a class="brand" href="/">One Month Rails</a>
=======
             <a class="brand" href="/">OMRails</a>
>>>>>>> 1b43fdf3cfaf1d98b92f6b2057aced815a96cde6

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'Home',  root_path %>
                        </li>
                        <li>    
                            <%= link_to 'About',  about_path %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
<<<<<<< HEAD
                                <li><%= link_to 'Login',  '#' %></li>
=======
                        <li><%= link_to 'Login',  '#' %>
                        </li>
>>>>>>> 1b43fdf3cfaf1d98b92f6b2057aced815a96cde6
                    </ul>
                </div>
        </div>
    </div>
</div>